.git
.pytest_cache
__pycache__
*.py[cod]
tests
*.sqlite*
*.db
*.log
*.csv
*.jsonl
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.tif
*.tiff
*.bmp
**/*.sqlite*
**/*.log
**/*.csv
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.webp
**/*.tif
**/*.tiff
**/*.bmp
