.git
node_modules
dist
coverage
*.log
*.sqlite*
*.db
*.csv
*.jsonl
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.tif
*.tiff
*.bmp
**/*.log
**/*.sqlite*
**/*.csv
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.webp
**/*.tif
**/*.tiff
**/*.bmp
